<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="accessibility-outline"></ion-icon>
      Gestión Mi Aula</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="ion-padding-top">  
    <ion-img src="assets/images/Portada.svg"></ion-img>
    <ion-item>
      <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText=""
        errorText="Coreo Inválido" ngModel email></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" fill="solid" label="Contraseña" labelPlacement="floating" placeholder="Abc123"></ion-input>
    </ion-item>  
  </div>


  
</ion-content>
