<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="accessibility-outline"></ion-icon>
      Bienvenid@!
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2 class="ion-text-center">Listado de Alumnos</h2>

  <div class="centrado" id="container">
    <ion-button id="center" (click)="obtenerMiUbicacion()">Obtener Mi Ubicacion</ion-button>
  </div>

  <ion-searchbar placeholder="Buscar Alumno" (ionInput)="filtrarAlumnos($event)"></ion-searchbar>

  <ion-list>
    
    <ion-item-sliding *ngFor="let x of arregloAlumnos">

      <ion-item>
        <ion-label>
          <h2>{{x.nombre | uppercase}}</h2>
          <p style="word-wrap: break-word; white-space: normal;">{{x.rut}}, {{x.sexo | uppercase}}, {{x.direccion | uppercase}},{{x.comuna | uppercase}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="modificar(x)">
          <ion-icon slot="bottom" name="pencil-sharp"></ion-icon>
          Modificar
        </ion-item-option>

        <ion-item-option color="danger" (click)="eliminar(x)">
          <ion-icon slot="bottom" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agregar-alumnos']">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

</ion-content>
